h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bolder;
}

.btn {
    align-content: right;
    margin: 60px;
    margin-top: 20px;
}

.card-deck {
    margin-top: 40px;
    margin-bottom: 20px;
    max-width: 80%;
    align-self: center;
}

.card-body {
    margin: 10px;
}

.nav-link {
    color: blue;
    margin-top: 10px;
    font-weight: bold;
}

.restaurant-pic {
    height: 80px;
}
.price-selectors {
    margin: 0 10px 0 10px;
    padding: 5px;
}