h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bolder;
}

.btn {
    align-content: right;
    margin: 60px;
    margin-top: 20px;
}

.card-deck {
    margin-top: 40px;
    margin-bottom: 20px;
    max-width: 80%;
    align-self: center;
}

.card-body {
    margin: 10px;
}

.nav-link {
    color: blue;
    margin-top: 10px;
    font-weight: bold;
}

.restaurant-pic {
    height: 20px;
}

#restaurant-table {
    cursor: pointer;
}
.restaurant-name, .theater-name, .movie-title, .movie-times {
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

#testing-wrapper {
    display: none;
    position: fixed;
    bottom: 5px;
    left: 5px;
}

.test-button {
    padding: 10px;
    margin: 10px;
}

#testing-input {
    height: 200px;
    width: 500px;
    font-size: large;
}

#testing-display {
    font-size: large;
}
.price-selectors {
    margin: 0 10px 0 10px;
    padding: 5px;

}

.map-wrapper {
    height: 400px;
}
.selected-theater {
    text-align: center;
    font-weight: bold;

}